.chat_container {
    color: #fff;
    min-height: 100vh;
    min-width: 100vw;
}

.chat_container .contactAndChat__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}