.chat_container {
    display: grid;
    grid-template-rows: 10% 87%;
    gap: 1.5%;
    color: #fff;
    min-height: 100vh;
    min-width: 100vw;
}

.chat_container .contactAndChat__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}