.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.register .name,
.register .email,
.register .pass,
.register .con_pass,
.register .upload_pic {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.register .name label,
.register .email label,
.register .pass label,
.register .con_pass label,
.register .upload_pic label {
    align-self: flex-start;
    margin-left: 10px;
}

.register .name input,
.register .email input,
.register .pass input,
.register .con_pass input,
.register .upload_pic input {
    width: 100%;
    height: 40px;
    border: 2px solid teal;
    border-radius: 30px;
    padding-left: 20px;
    outline: none;
}

.register .pass,
.register .con_pass {
    position: relative;
}

.register .pass svg,
.register .con_pass svg {
    position: absolute;
    right: 20px;
    top: 36px;
}

.register .res_btn {
    width: 100%;
    padding-top: 20px;
}

.register .res_btn button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: teal !important;
    color: #fff !important;
    transition: 0.2s ease-out all;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.register .res_btn button svg {
    font-size: 20px;
}

.register .res_btn button:active {
    transform: scale(0.95);
    transition: 0.2s ease-out all;
}

@media (min-width: 320px) and (max-width: 767px) {

    .register .name,
    .register .email,
    .register .pass,
    .register .con_pass,
    .register .upload_pic {
        align-items: center;
        width: 75vw;
    }

    .register .name input,
    .register .email input,
    .register .pass input,
    .register .con_pass input,
    .register .upload_pic input {
        width: 100%;
    }

    .register .res_btn {
        width: 90%;
        padding: 10px 0;
    }

    .register .pass svg,
    .register .con_pass svg {
        position: absolute;
        right: 20px;
        top: 36px;
    }
}