.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 50px;
}

.login .input_boxs,
.login .btns {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.login .input_boxs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.login .input_boxs div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.login .input_boxs {
    margin-top: 40px;
}

.login .input_boxs div input {
    width: 100%;
    height: 40px;
    border: 2px solid teal;
    border-radius: 30px;
    padding-left: 20px;
    outline: none;
}

.login .input_boxs div label {
    align-self: flex-start;
}

::placeholder {
    margin-left: 20px;
}

.login .input_boxs .pass {
    position: relative;
}

.login .input_boxs .pass #input_wrapper {
    position: relative;
}

.login .input_boxs div:nth-child(2) svg {
    position: absolute;
    right: 20px;
    top: 36px;
}

.login .btns {
    text-align: center;
}

.login .btns .chakra-stack {
    width: 100%;
}

.login .btns button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: teal !important;
    color: #fff !important;
    transition: 0.2s ease-out all;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.login .btns button svg {
    font-size: 20px;
}

.login .btns button:active {
    transform: scale(0.95);
    transition: 0.2s ease-out all;
}

.login .btns button:nth-child(2) {
    margin-top: 15px;
}

@media (min-width: 320px) and (max-width: 767px) {

    .login .input_boxs div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .login .input_boxs {
        margin-top: 30px;
    }

    .login .input_boxs div input {
        width: 80%;
    }

    .login .btns .chakra-stack {
        width: 80%;
    }

    .login .input_boxs div:nth-child(2) svg {
        position: absolute;
        right: 20px;
        top: 36px;
    }

    .login .input_boxs .email,
    .login .input_boxs .pass {
        width: 85%;
    }

    .login .input_boxs .email input,
    .login .input_boxs .pass input {
        width: 100%;
    }

}