@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Press+Start+2P&family=Tenor+Sans&display=swap');

body {
    background-color: #121826 !important;
}

.redstar {
    color: red;
}

.errorRed {
    color: crimson;
}

.labelAndSpan {
    display: flex;
    justify-content: space-between;
    width: 96%;
}

:root {
    --toastify-toast-min-height: 30px !important;
    --toastify-toast-width: 280px !important;
}

.show {
    display: block;
}

.hide {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}